# MechGen / Redox .gitignore

## File system
.DS_Store
desktop.ini

## Editor
*.swp
*.swo
Session.vim
.cproject
.idea
*.iml
.vscode
.project
.vim/
.helix/
.zed/
.favorites.json
.settings/
.vs/
.dir-locals.el

## Tool
.valgrindrc
.cargo

## Build
/target
/build
/dist/
prototype/target

## ICE reports
rustc-ice-*.txt

## Temporary files
*~
\#*
\#*\#
.#*

## Tags
tags
tags.*
TAGS
TAGS.*

## Python
__pycache__/
*.py[cod]
*$py.class

## Node
node_modules
/src/doc/rustc-dev-guide/mermaid.min.js

## Rustdoc GUI tests
tests/rustdoc-gui/src/**.lock

## Test dashboard
.citool-cache/
test-dashboard/

## direnv
/.envrc
/.direnv/

## Environment (secrets)
.env
.env.local
.env.*.local

## nix
/flake.nix
flake.lock
/default.nix

# Before adding new lines, see the comment at the top.
